* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    margin: 0 auto;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header__home {
    height: 735px;
    background-image: url("../assets/header-bg.svg");
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16px;
    margin-bottom: 16px;
}

.header__catalog {
    height: 400px;
    background-image: url("../assets/header-catalog.jpeg");
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16px;
    margin-bottom: 64px;
}

.header__cart {
    height: 400px;
    background-image: url("../assets/header-cart.svg");
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16px;
    margin-bottom: 16px;
}

/*.main {
    padding: 0 120px 0 120px;
}*/

.color-change {
    fill: #888888; /* Исходный цвет */
    transition: fill 0.3s; /* Плавный переход */
}

a:focus .color-change {
    fill: #000000; /* Цвет при фокусировке (нажатии) */
}

.logo--top path {
    fill: white;
}

.logo--footer path {
    fill: black;

}

/*.logo--footer {
    padding: 32px 209px 131px 20px;
}*/

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 14px;

}

.top-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.top-content a {
    color: white;
}

.top-content__heading {
    color: rgb(255, 255, 255);
    font-size: 64px;
    width: 792px;
    margin-top: 60px;
}
.top-content__heading-catalog {
    margin-top: 127px;

}

.top__nav-item {
    padding-left: 32px;
    text-decoration: none;
}

.top__nav-item:hover {
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
}

.top__search-form {
    width: 288px;
    height: 44px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    letter-spacing: 0;
    padding: 0 32px 0 32px;
    outline: none;
}

.top__nav a {
    color: white;
}

.top-content__description {
    font-size: 24px;
    margin-bottom: 16px;
}

.top-content__link {
    margin-bottom: 16px;
}

.top-content__link:hover {
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
}

/*.main {
    padding: 64px 120px 64px;
}*/

.action-box,
.product-box {
    margin-bottom: 32px;
}
.action-box-cart {
    margin-bottom: 121px;
}
.action-box__content,
.product-box__content {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 32px;
}

.for__heading,
.product-box__heading,
.action-box__heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0;
    margin-bottom: 32px;
    margin-top: 72px;

}

.for__content {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам оборачиваться на новую строку */
    justify-content: space-between; /* Распределяет пространство между элементами */
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0;
}

.for__item {
    background-repeat: no-repeat;
    background-position: center;
    height: 415px;
}


.for__item--rest,
.for__item--sport {
    width: 583px;
    text-align: center;
    align-content: center;
}

.for__item--rest {
    background-image: url("../assets/for__item/rest.svg");
}

.for__item--sport {
    background-image: url("../assets/for__item/sport.jpeg");
}

.for__item--hobby,
.for__item--kids,
.for__item--family {
    width: 378px;
    text-align: center;
    align-content: center;
}

.for__item--hobby {
    background-image: url("../assets/for__item/hobby.jpeg");
}

.for__item--kids {
    background-image: url("../assets/for__item/kids.jpeg");
}

.for__item--family {
    background-image: url("../assets/for__item/family.jpeg");
}


.action, .product {
    width: 378px;
    height: 377px;
    position: relative;
}

.in-cart-icon, .in-like-icon {
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.in-cart-icon {
    right: 55px;
}

.in-like-icon {
    right: 12px
}

.in-cart-icon:hover path , .in-like-icon:hover path {
    fill: black;
}

.action__image, .product__image {
    height: 250px;
    width: 378px;
    margin-bottom: 10px;
}

.action__heading,
.product__heading {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 9px;
}

.action__description,
.product__description,
.cart__item-description {
    color: rgb(136, 136, 136) !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    margin-bottom: 13px;
}

.action_prices,
.product__price {
    display: flex;
    column-gap: 44px;
    color: rgb(5, 5, 5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
}

.action_prices--last {
    color: rgb(136, 136, 136);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-decoration-line: line-through;
}

.link__box {
    margin-top: 39px;
    margin-bottom: 64px;
}

.link__box a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.link__box-item:hover {
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: rgb(247, 246, 246);
    height: 207px;
    padding-top: 32px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
    column-gap: 192px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    column-gap: 129px;
}

.footer__nav-menu,
.footer__nav-contacts {
    list-style-type: none;
}

.footer__nav-menu a,
.footer__nav-contacts a {
    display: inline-block; /* или block */
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 12px; /* Теперь сработает */
    text-decoration: none;
}

.footer__nav-contacts {
    display: flex;
    flex-direction: column
}

.footer__heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 12px;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
}

.footer__heading-form {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
}

.footer__form-input {
    width: 260px;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 0 17px 0 17px;
    font-family: Montserrat, serif;
    font-size: 12px;
}

.footer__form-input::placeholder {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: Montserrat, serif;
}

.footer__form-subscribe {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    width: 260px;
    height: 40px;
    border-radius: 16px;
    background: rgba(222, 215, 215, 0.41);
    margin-top: 8px;
    color: rgb(0, 0, 0);
    letter-spacing: 0;
}

.footer__form-subscribe:hover {
    background: black;
    color: white;
}

.catalog_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}

.catalog__breadcrumbs-heading a:not(:last-child)::after {
    content: "/";
    padding: 0 10px;
}

/* Дополнительные стили для правильного отображения */
.catalog__breadcrumbs-heading {
    display: flex; /* Для горизонтального расположения элементов */
    flex-direction: row;
}

.catalog__breadcrumbs-link {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    display: inline-block; /* Важно для работы псевдоэлементов */
}

.catalog__filter-form {
    position: relative;
}

.catalog__filter-form select {
    width: 288px;
    height: 41px;
    border: 1px solid rgb(196, 196, 196);
    background-color: white;
    border-radius: 20px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    padding: 0 14px 0 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.catalog__filter-form:after {
    width: 20px;
    height: 11px;
    content: "";
    background-image: url("../assets/arrow.svg");
    position: absolute;
    background-repeat: no-repeat;
    top: 15px;
    right: 15px;
    pointer-events: none;
    cursor: pointer;
}


.cart-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart {
    width: 786px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(202, 205, 216);
    margin-top: 64px;
}

.cart__items {
    display: flex;
    flex-direction: column;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 32px;
}


.cart__header-title {
    margin-right: 27px;
}

.cart__item-heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
}

.cart__item-description {
    width: 276px;
}

.cart__item-specification {
    display: flex;
    justify-content: space-between;
    width: 582px;
}

.cart__item-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 31px;
}

.cart__item-buttons {
    display: flex;
    column-gap: 7px;
    cursor: pointer;
}

.cart__item-price {
    color: rgb(5, 5, 5);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
}

.cart__item-button {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
    letter-spacing: 0;
    text-align: center;
    text-decoration-line: underline;
}

.delete__button {
    margin-left: 30px;
}

/*.cart__item-input{
    width: 71px;
    height: 51px;
    border-radius: 6px;
    border: none;
    padding-left: 25px;
    background: rgb(247, 246, 246);
}*/

.cart__action-clean,
.cart__action-resume {
    font-family: Montserrat;
}

.cart__item-option {
    padding: 0 11px 24px 13px;
}

.border__cart {
    border: 0.5px solid rgb(202, 205, 216);
}

.order {
    width: 379px;
    height: 556px;
    border-radius: 20px;
    background: rgb(247, 246, 246);
    margin: 64px 0 0 33px;
}

.order__form {
}

.order__form-heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 35px;
}

.order__form-form {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    margin-left: 28px;
    margin-right: 64px;
}

.order__form-label {
    border-bottom: 0.5px solid rgb(202, 205, 216);
}

.order__form-input {
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.order__total {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 64px;
}

.order__form-submit {
    font-family: Montserrat;
    width: 290px;
    height: 41px;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    margin: 20px 45px 148px 45px;
}

.cart__action-clean,
.cart__action-resume {
    width: 200px;
    height: 37px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    background-color: white;
    margin-bottom: 64px;
}

.cart__action-clean:hover,
.cart__action-resume:hover {
    background: black;
    color: white;
}

.promo__heading {
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0;
    text-align: left;
}
