.color-change {
    fill: #888888; /* Исходный цвет */
    transition: fill 0.3s; /* Плавный переход */
}

a:focus .color-change {
    fill: #000000; /* Цвет при фокусировке (нажатии) */
}

.logo--top path{
    fill: black;
}

.logo--footer path{
    fill: black;
}