a {
    text-decoration: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    width: 1440px;
    margin: 0 auto;
}

.header__home {
    height: 735px;
    background-image: url("../assets/header-bg.svg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__catalog {
    height: 400px;
    background-image: url("../assets/header-catalog.svg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__cart {
    height: 400px;
    background-image: url("../assets/header-cart.svg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding: 0 120px 0 120px;;
}

.color-change {
    fill: #888888; /* Исходный цвет */
    transition: fill 0.3s; /* Плавный переход */
}

a:focus .color-change {
    fill: #000000; /* Цвет при фокусировке (нажатии) */
}

.logo--top path {
    fill: white;
}

.logo--footer path {
    fill: black;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 14px;
    padding-top: 12px;
    align-items: center;
}

.top__nav-item {
    padding-left: 32px;
}

.top-content a {
    color: white;
}

.top-content {
    margin-left: 120px;
    margin-right: 120px;
}

.top__search-form {
    width: 288px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    padding: 0 32px 0 32px;
    outline: none;
}

.top__nav a {
    color: white;
}

.top-content__heading {
    font-size: 64px;
    width: 792px;
    top: 140px;
    height: 140px;
}

.top-content__description {
    font-size: 24px;
}

.for__heading,
.product-box__heading,
.action-box__heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0;
}

.for__content {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам оборачиваться на новую строку */
    justify-content: space-between; /* Распределяет пространство между элементами */
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0;
}

.for__item {
    background-repeat: no-repeat;
    background-position: center;
    height: 415px;
    margin-bottom: 31px;
}

.for__item--rest {
    background-image: url("../assets/for__item/rest.svg");
    width: 583px;
}

.for__item--sport {
    background-image: url("../assets/for__item/sport.jpeg");
    width: 583px;
}

.for__item--hobby {
    background-image: url("../assets/for__item/hobby.jpeg");
    width: 378px;
}

.for__item--kids {
    background-image: url("../assets/for__item/kids.jpeg");
    width: 378px;
}

.for__item--family {
    background-image: url("../assets/for__item/family.jpeg");
    width: 378px;
}

.action, .product {
    width: 378px;
}

.action__image, .product__image {
    width: 250px;
}

.action__description,
.product__description,
.cart__item-description {
    color: rgb(136, 136, 136) !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
}

.action_prices,
.product__price {
    display: flex;
    color: rgb(5, 5, 5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
}

.action_prices--last {
    color: rgb(136, 136, 136);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-decoration-line: line-through;
}

.link-box {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-decoration-line: underline;
}

.footer {
    display: flex;
}

.footer-content {
    display: flex;
}

.footer__info {
    display: flex;
}

.footer__nav-menu,
.footer__nav-contacts {
    list-style-type: none;
}

.footer__nav-menu a,
.footer__nav-contacts a {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
}

.footer__nav-contacts {
    display: flex;
    flex-direction: column
}

.footer__heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
}

.footer__heading-form {
    font-size: 12px;
    font-weight: 400;
}

.footer__form-input {
    width: 260px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 0 17px 0 17px;
}

.footer__form-input::placeholder {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

.footer__form-subscribe {
    width: 260px;
    height: 40px;
    border-radius: 16px;
    background: rgba(222, 215, 215, 0.41);
    margin-top: 8px;

    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

.catalog_nav {
    display: flex;
    justify-content: space-between;
}

.catalog__breadcrumbs-link {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-decoration: none;
}

.catalog__filter {
    width: 288px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
}

.catalog__filter-select {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    padding: 0 14px 0 14px;
}

.cart-main {
    display: flex;
    justify-content: space-between;
    margin-right: 33px;
}

.cart {
    width: 786px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(202, 205, 216);
    margin-top: 64px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cart__header-title {
    margin-right: 27px;
}

.cart__item-heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
}

.cart__item-description {
    width: 276px;
    height: 50px;
}

.cart__item-specification {
    display: flex;
    justify-content: space-between;
    width: 582px;
}

.cart__item-price {
    color: rgb(5, 5, 5);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
}

.cart__item-button {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
    letter-spacing: 0;
    text-align: center;
    text-decoration-line: underline;
}

.delete__button {
    margin-left: 30px;
}

.cart__item-select {
    width: 71px;
    height: 51px;
    border-radius: 6px;
    background: rgb(247, 246, 246);
}

.cart__item-option {
    padding: 0 11px 24px 13px;
}

.order {
    width: 379px;
    height: 556px;
    border-radius: 20px;
    background: rgb(247, 246, 246);
    margin: 64px 0 0 33px;
}

.order__form {
    margin: 42px 44px 148px 27px;
}

.order__form-heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
}

.order__form-label {
    border-bottom: 0.5px solid rgb(202, 205, 216);
}

.order__form-input {
    background-color: transparent;
    margin-top: 41.5px;
}

.order__total {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 64px;
}

.order__form-submit {
    width: 290px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    margin-top: 18px;
}

.cart__action-clean,
.cart__action-resume {
    width: 200px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    background-color: white;
    margin-bottom: 64px;
}

.promo__heading {
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0;
    text-align: left;
}